<div class="container" class="dropdown1">

    <div class="dropdown">

        <div>
            <p class="text">Select Category</p>
            <select class="dropdown1">
                <option value="" disabled selected class="Category">Select your Category</option>
                <option value="mobiles" class="place2">Mobile Phones</option>
                <option value="laptops" class="place2">Laptops</option>
                <option value="accessories" class="place2">Accessories</option>
            </select>
        </div>


    </div>
    <div>
        <p class="text2">Select&nbsp;Capacity</p>
        <select class="dropdown2">
            <option value="" disabled selected class="model">Select required Capacity</option>
            <option value="1" class="model2">1</option>
            <option value="2" class="model2">2</option>
            <option value="3" class="model2">3</option>
            <option value="4" class="model2">4</option>
            <option value="5" class="model2">5</option>
            <option value="6" class="model2">6</option>
        </select>
    </div>
</div>

        <form [formGroup]="form" (submit)="onSubmit()">
 <div *ngFor="let itemRows of form.controls.itemRows.controls; let i=index" [formGroupName]="i">
     </div>
                <div class="container">            
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Category</th>
                              <th>Model</th>
                              <th>Prize(PKR)</th>
                            </tr>
                          </thead>
                            <tr *ngFor="let itemRows of form.controls.itemRows.controls; let i=index" [formGroupName]="i">       
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                              <td contenteditable="true"></td>
                            </tr>
                            <!-- <tr>
                              <td>Mary</td>
                              <td>Moe</td>
                              <td>mary@example.com</td>
                            </tr>
                            <tr>
                              <td>July</td>
                              <td>Dooley</td>
                              <td>july@example.com</td>
                            </tr> -->
                          </tbody>
                        </table>
                      </div>
                
                <!-- <ng-container *ngIf='form.controls.itemRows!=null'>
        <div *ngFor="let itemRows of form.controls.itemRows.controls; let i=index" [formGroupName]="i">
     </div>
                            {{form.value | json}}
                            <div class="form-group" class="brand1">
                                <div class="label1"><label for="brand"><b>Brand</b></label></div>
                                <input type="text" class="form-control" class="brand" formControlName="brand" required brand placeholder="Brand">
                            </div>
                        
                        
                        
                            <div class="form-group" class="brand2">
                                <div class="label1"><label for="model"><b>Model</b></label></div>
                                <input type="text" class="form-control" class="brand" formControlName="model" required brand placeholder="Brand">
                        
                            </div>
                        
                            <div class="form-group" class="brand3">
                                <div class="label1"><label for="model"><b>Capacity</b></label></div>
                                <input type="text" class="form-control" class="brand" formControlName="Capacity" required brand placeholder="Brand">
                        
                            </div>
                            <div class="btn1">
                                <button type="button" class="btn"><b> <b> + </b></b></button>
                            </div>
                        
                    </ng-container>
       -->
    
                    <button type="button" class="btn" (click)="addField()"><b> <b> + </b></b></button>
                   <div class="btndiv"> <button type="button" class="mybtn" (click)="deleteRow(index)"><b> <b> - </b></b></button> </div> 
            


                       

               
            </form>
