.iname{

    margin-left: 20px;
    font-size: 15px;
    padding: 15px;
    color: black;
    border-radius: 20px;
    margin-top: 10px;
    border-color: black;
}
.iemail{

    margin-left: 80px;
    font-size: 15px;
    padding: 15px;
    color: black;
    border-radius: 20px;
    margin-top: 50px;
    border-color: black;
    

}
.message{

    margin-left: 20px;
    font-size: 15px;
    padding: 10px;
    color: black;
    border-radius: 20px;
    margin-top:0px;
    border-color: black;

}
.text{
    margin-left: 20px;
    margin-top: 50px;

}
.contact{

    margin-left: 540px;
    background-color: rgba(4, 4, 56, 0.952);
    margin-right: 560px;
    color: white;
    
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center

}
.button {
    background-color:  rgba(4, 4, 56, 0.952);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
  }
  
  
  .button3 {border-radius: 8px;}
  